<h3 class="control-label" ng-hide="vm.lobbyInfo">Apprendre en m'amusant
	<img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
</h3>

<!-- Choose lobby  -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h5>Que veux tu apprendres ?</h5>
	</div>
	<div class="panel-body">

	<a ng-href="#!/play?id=compter&diff={|vm.diff|}"  class="btn btn-default btn-lg btn-block">Compter</a>
	<a href="#!/play?id=lire&diff={|vm.diff|}"  class="btn btn-default btn-lg btn-block">Lire</a>
	<a href="#!/play?id=ecrire&diff={|vm.diff|}"  class="btn btn-default btn-lg btn-block">Ecrire</a>
	<hr>
	<div class="form-group">
		<h4 class="col-lg-2 control-label"> <label>Difficulté <label></h4>
				<div class="col-lg-10">
					<div class="radio">
						<label>
							<input type="radio" ng-model="vm.diff" value="1" checked="">
							Facile
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" ng-model="vm.diff" value="2">
							Difficile
						</label>
					</div>
				</div>
			</div>

	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading"><h5>Information complementaire</h5></div>
	<div class="panel-body">


	</div>
</div>

