<h3 class="control-label" ng-hide="vm.lobbyInfo">Apprendre en m'amusant
	<img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
</h3>

<!-- Choose lobby  -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h5>Que veux tu apprendres ?</h5>
	</div>
	<div class="panel-body">

	<a ng-href="#!/play?id=compter&diff={|vm.diff|}"  class="btn btn-default btn-lg btn-block">Compter</a>
	<a href="#!/play?id=lire&diff={|vm.diff|}"  class="btn btn-default btn-lg btn-block">Lire</a>
	<a href="#!/play?id=ecrire&diff={|vm.diff|}"  class="btn btn-default btn-lg btn-block">Ecrire</a>
	<hr>
	<div class="form-group">
		<h4 class="col-lg-2 control-label"> <label>Difficulté <label></h4>
				<div class="col-lg-10">
					<div class="radio">
						<label>
							<input type="radio" ng-model="vm.diff" value="1" checked="">
							Facile
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" ng-model="vm.diff" value="2">
							Difficile
						</label>
					</div>
				</div>
			</div>

	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading"><h5>Information complementaire</h5></div>
	<div class="panel-body">
			Un serious game (jeu sérieux en français) est comme son nom l’indique une activité qui a pour but de mêler le sérieux, par exemple l’apprentissage, l’enseignement, la communication, l’information et le ludique du divertissement d’un jeu.
			L’objectif est donc de faire passer un message de manière attractive.
			<br/>
			Il existe une multitude de serious game différent, des jeux de simulation, d’entraînement, pédagogique etc…
			<br/>
			<hr>
			Voici 3 exemples de serious game:
				</br>
				<a href="https://www.tice-education.fr/index.php/tous-les-articles-er-ressources/seriousgames/1166-numystere-un-jeu-pour-decouvrir-des-usages-numeriques" target="_blank">Numystère, un jeu pour découvrir des usages numériques</a>
				</br>
				<a href="https://www.tice-education.fr/index.php/tous-les-articles-er-ressources/seriousgames/910-stop-a-la-violence-un-jeux-serieux-de-sensibilisation-au-harcelement-au-college" target="_blank">Stop à la violence : un jeux sérieux de sensibilisation au harcèlement au collège</a>
				</br>
				<a href="https://www.tice-education.fr/index.php/tous-les-articles-er-ressources/seriousgames/974-cryptris-un-jeu-pour-s-initier-au-cryptage-de-donnees" target="_blank">Anchor Cryptris : Un jeu pour s'initier au cryptage de donnéesText</a>


	</div>
</div>

