<h3 class="control-label" ng-hide="vm.lobbyInfo">Apprendre en m'amusant
    <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
</h3>

<!-- Choose lobby  -->
<form name="form" role="form" ng-hide="vm.lobbyInfo">
  <div class="form-group"
    ng-class="{ 'has-error':  vm.lobbyError }">
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h5>Que veux tu apprendres ?</h5></div>
  <div class="panel-body">

    <a href="#!/play?id=calcul" ng-click="vm.joinLobby('paper')" class="btn btn-default btn-lg btn-block">Compter</a>
    <a href="#!/play?id=lire" ng-click="vm.joinLobby('rock')" class="btn btn-default btn-lg btn-block">Lire</a>
    <a href="#!/play?id=ecrire" ng-click="vm.joinLobby('scissors')" class="btn btn-default btn-lg btn-block">Ecrire</a>

  </div>
</div>
  </div>
</form>
