<!-- http://bootsnipp.com/snippets/featured/bootstrap-square-buttons -->
<div class="col-lg-12">

	<h2>Apprendre a {|vm.title.id|}</h2>


	<div class="panel panel-default">
		<div class="panel-heading"><h4>Question:</h4><h5>{|vm.game.question|}</h5></div>
		<div class="panel-body">
			<img ng-src="{|vm.game.url_image|}">
			<hr>
			<h4>{|vm.game.text|}</h4>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading"><h5>Répondre</h5></div>
		<label for="select" class="col-lg-2 control-label">Choisir</label>
		<div class="col-lg-10">

			<select class="form-control" id="select" ng-model="save">
				<option ng-repeat="(i, row) in vm.game.proposition track by $index">{|row|}</option>
			</select>
		</div>

		</br>

		<div class="form-group">
			<div class="col-lg-10 col-lg-offset-1">
				<button type="submit" ng-disabled="vm.disable" ng-click="vm.repondre(vm.game, save)" class="btn btn-primary">Répondre</button>
			</div>

			</br>
		</div>

		<div ng-show="vm.ok == true">
			<div class="alert alert-dismissible alert-success">
				&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<strong>{|vm.info|}</strong> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
				<button ng-click="vm.new()" class="btn btn-default" type="button">Suivant</button>
			</div>
		</div>

		<div ng-show="vm.ko == true">
			<div class="alert alert-dismissible alert-danger">
				&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<strong>{|vm.info|}</strong> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
			</div>
		</div>

	</div>

</div>

</div>
