<!-- http://bootsnipp.com/snippets/featured/bootstrap-square-buttons -->
<div class="col-lg-12">

	<h2>Apprendre a {|vm.title.id|}</h2>

	<button ng-click="vm.retour()" class="btn btn-warning" type="button"> Retour</button>
	<hr>

	<div class="panel panel-default">
		<div class="panel-heading"><h4>Question:</h4><h5>{|vm.game.question|}</h5></div>
		<div class="panel-body">
			<img ng-src="{|vm.game.url_image|}">
			<hr>
			<h4>{|vm.game.text|}</h4>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading"><h5>Répondre</h5></div>
		<div class="panel-body">

		<div ng-show="vm.level == 1 && vm.ok == false">
			<label for="select" class="col-lg-2 control-label">Choisir</label>
			<div class="col-lg-10">
				<select class="form-control" id="select" ng-model="vm.save">
					<option ng-repeat="(i, row) in vm.game.proposition track by $index">{|row|}</option>
				</select>
			</div>
		</div>

		<form ng-submit="vm.repondre(vm.game, vm.save)" ng-show="vm.level == 2 && vm.ok == false">
			<label for="select" class="col-lg-2 control-label">Ecrire la réponse: </label>
			<input type="text" ng-model="vm.save" name="output"  />
		</form>

		<hr ng-show="vm.ok == false">

		<div class="form-group" ng-hide="vm.ok">
			<div class="col-lg-10 col-lg-offset-1">
				<button type="submit"  ng-disabled="vm.disable" ng-click="vm.repondre(vm.game, vm.save)" class="btn btn-primary">Répondre</button>
			</div>

		</div>

		<div ng-show="vm.ok == true">
			<div class="alert alert-dismissible alert-success">
				&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<strong>{|vm.info|}</strong> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
				<button ng-click="vm.new()" class="btn btn-primary" type="button">Suivant</button>
			</div>
			<div class="row">
				<div class="col-md-2 col-md-offset-1">
					<iframe src="https://giphy.com/embed/26DOoDwdNGKAg6UKI" width="480" height="384" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/alexanderirl-alexander-irl-26DOoDwdNGKAg6UKI"></a></p>
				</div>
			</div>

		</div>

		<div ng-show="vm.ko == true">
			<div class="alert alert-dismissible alert-danger">
				&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<strong>{|vm.info|}</strong> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
			</div>
		</div>

	</div>
	</div>

</div>

</div>
